<mat-tab-group >
    <mat-tab label="Car"> 
      <div style ="padding: 10px;" >
     <div fxLayoutAlign = "center" > 
       <h1 id = "title" >Car</h1> </div>
      <h2>1. Cars</h2>
      <p>Let's evaluate your Car Usage! Find out how costly your usage is:</p>
  
      <form fxLayout="column row" style="padding: 10px;" fxLayoutAlign = "space-between"
          #carForm="ngForm" (ngSubmit)="saveCar()">
      
          <h4>Size</h4>
          <mat-form-field>
            
            <select matNativeControl required>
              <option value="small">Small</option>
              <option value="medium">Medium</option>
              <option value="large">Large</option>
            </select>
          </mat-form-field>

        <mat-form-field>
          <input type="number" name="CMILES" placeholder="Mileage" 
              required matInput [ngModel]="carData.Cmiles">
          <mat-hint>Please enter your average daily usage (miles)</mat-hint>
        </mat-form-field>
          <mat-form-field>
              <input type="number" name="CMonthlyCO2" placeholder="Monthly CO2" 
                  [(ngModel)]="carData.CCO2monthlyTotal" readonly matInput >
              
            </mat-form-field>
    
            <mat-form-field>
                <input type="number" name="CYearlyCO2"  placeholder="Yearly CO2" 
                    [(ngModel)]="carData.CCO2yearlyTotal" readonly matInput>
                
              </mat-form-field>
    
    
              <div>
                <button type="submit" mat-button mat-raised-button color="accent">
                  <mat-icon>save</mat-icon> Save
                </button>
    
              </div>
           
          </form>
        </div>
          </mat-tab>
        </mat-tab-group>

