

<mat-tab-group >
  <mat-tab label="Airconditioner"> 
    <h1 id = "title" >Electricity</h1>
    <h2>1. Airconditioners</h2>
    <p>Let's start with the Airconditioner! ACs are the most energy intensive appliances in Singapore households. Find out how costly your usage is:</p>
    <form fxLayout="column row" style="padding: 10px;" fxLayoutAlign = "space-between">
    
      
      <mat-form-field>
        <input type="number" name="ACqty" placeholder="Quantity" required matInput>
        <mat-hint>Please enter the number of aircons you have</mat-hint>
      </mat-form-field>
    
      <mat-form-field>
        <input type="number" name="AChrs" placeholder="Number of Hours" required matInput>
        <mat-hint>Please enter your average daily usage (hours)</mat-hint>
      </mat-form-field>
    
      <mat-form-field>
        <input type="number" name="ACkWH" value = "1.5" placeholder="KiloWatts per Hour used" required matInput>
        <mat-hint>This is our suggested value</mat-hint>
      </mat-form-field>

      <mat-form-field>
          <input type="number" name="ACMonthlyCost" placeholder="Monthly Cost ($)" required matInput>
          
        </mat-form-field>

        <mat-form-field>
            <input type="number" name="ACYearlyCost"  placeholder="Yearly Cost ($)" required matInput>
            
          </mat-form-field>

          <mat-form-field>
              <input type="number" name="ACCO2" placeholder="CO2 Equivalence" required matInput>
              
            </mat-form-field>


       
      </form>
      </mat-tab>
    
  <mat-tab label="Water Heater">  
     <h1 id = "title" >Electricity</h1>
    <h2>2. Water Heaters</h2>
    <p>Water Heaters are the 2nd most energy intensive appliances in Singapore households. Find out how costly your usage is:</p>
    <form fxLayout="column row" style="padding: 10px;" fxLayoutAlign = "space-between">
    
      
      <mat-form-field>
        <input type="number" name="WHqty" placeholder="Quantity" required matInput>
        <mat-hint>Please enter the number of water heaters you have</mat-hint>
      </mat-form-field>
    
      <mat-form-field>
        <input type="number" name="WHhrs" placeholder="Number of Hours" required matInput>
        <mat-hint>Please enter your average daily usage (hours)</mat-hint>
      </mat-form-field>
    
      <mat-form-field>
        <input type="number" name="WHkWH" value = "3" placeholder="KiloWatts per Hour used" required matInput>
        <mat-hint>This is our suggested value</mat-hint>
      </mat-form-field>

      <mat-form-field>
          <input type="number" name="WHMonthlyCost" placeholder="Monthly Cost ($)" required matInput>
          
        </mat-form-field>

        <mat-form-field>
            <input type="number" name="WHYearlyCost"  placeholder="Yearly Cost ($)" required matInput>
            
          </mat-form-field>

          <mat-form-field>
              <input type="number" name="WHCO2" placeholder="CO2 Equivalence" required matInput>
              
            </mat-form-field>


        
      </form> </mat-tab>
  <mat-tab label="Dryer">   <h1 id = "title" >Electricity</h1>
    <h2>3. Dryer</h2>
    <p>Clothes Dryers are a huge part of your energy consumption and also one of the easiest to reduce. Find out how costly your usage is:</p>
    <form fxLayout="column row" style="padding: 10px;" fxLayoutAlign = "space-between">
    
      
      <mat-form-field>
        <input type="number" name="CDqty" placeholder="Quantity" required matInput>
        <mat-hint>Please enter the number of aircons you have</mat-hint>
      </mat-form-field>
    
      <mat-form-field>
        <input type="number" name="CDhrs" placeholder="Number of Hours" required matInput>
        <mat-hint>Please enter your average daily usage (hours)</mat-hint>
      </mat-form-field>
    
      <mat-form-field>
        <input type="number" name="CDkWH" value = "3" placeholder="KiloWatts per Hour used" required matInput>
        <mat-hint>This is our suggested value</mat-hint>
      </mat-form-field>

      <mat-form-field>
          <input type="number" name="CDMonthlyCost" placeholder="Monthly Cost ($)" required matInput>
          
        </mat-form-field>

        <mat-form-field>
            <input type="number" name="CDYearlyCost"  placeholder="Yearly Cost ($)" required matInput>
            
          </mat-form-field>

          <mat-form-field>
              <input type="number" name="CDCO2" placeholder="CO2 Equivalence" required matInput>
              
            </mat-form-field>


        <button type="button" mat-button mat-raised-button color="accent" (click)="submit()">
          submit
        </button>
      </form> </mat-tab>
      
      
</mat-tab-group>