
<body>
<img src="assets/enlighten.png" id="enlighten-logo">
<div class = subtitle> <h1>Save Energy, Save Money</h1> </div>
<br>
<h3> A smart energy calculator with practical tips and important information about your energy usage!</h3>
<br>
<h3>Here at Enlighten you can discover your true impact on the environment - and what's better, find out exactly how to reduce OR offset your usage.</h3>
<br>
<h3>Navigate to Electricity in the side menu or click below to get started !</h3>
<br>
<button type="button" mat-button mat-raised-button color="accent" (click)="submit()">
        <mat-icon>forward</mat-icon>
        Electricity
      </button>
</body>

