<body>
    <div class = "title"><h1>Electricity Totals</h1> </div>
<div>
    
  <form #form="ngForm" fxLayout="column">
    <h2>Electricity</h2>
    <mat-form-field>
      <input type="number" placeholder="Monthly Total ($)" readonly name="eMonthlyTotal"
          matInput [ngModel]="monthlyTotal">
    </mat-form-field>
    <mat-form-field>
      <input type="number" placeholder="Yearly Total ($)" readonly name="eYearlyTotal"
          matInput [ngModel]="yearlyTotal">
    </mat-form-field>

    <mat-form-field>
      <input type="number" placeholder="CO2 (tonnes)" readonly name="eCO2"
          matInput [ngModel]="co2Total">
    </mat-form-field>

  </form>

  <app-pie-chart *ngFor="let d of pieData"
      [title]="d.name" [pieData]="d.data"></app-pie-chart>

  <button type="button" mat-button mat-raised-button color="accent" (click)="submit()">
      Submit
  </button>
  
</div>
</body>