

<mat-tab-group>
  <mat-tab label="Reduce">
    <div class="margin-10">
      <h1>Reduce</h1>
    <h3>Airconditioner Savings</h3>
    <p>Move the slider to see how much you can save</p>
    <p>If you change your aircon usage to <span>{{ acNumHrs }} </span> hours a day, it will cost you: <span> {{ reducedElectricity | currency }} </span></p>
    <mat-slider thumbLabel [displayWith]="formatLabel" 
        tickInterval="1" min="0" [max]="maxAC" thumbLabel
        (change)="reduceElectricity($event)">
      
    </mat-slider>
    <h3>Water Heater Savings</h3>
    <p>Move the slider to see how much you can save</p>
    <p>If you change your water heater usage to <span>{{ numHrs }} </span> hours a day, it will cost you: <span> {{ reducedElectricity }} </span></p>
    <!-- add reduce water -->
    <mat-slider thumbLabel [displayWith]="formatLabel" 
        tickInterval="1" min="0" [max]="maxWH" thumbLabel
        (change)="reduceElectricity($event)"  (change)="reduceHours($event)">
      
    </mat-slider>
    <h3>Clothes Dryer Savings</h3>
    <p>Move the slider to see how much you can save</p>
    <p>If you change your clothes dryer usage to <span>{{ numHrs }} </span> hours a day, it will cost you: <span> {{ reducedElectricity }} </span></p>
    <!-- add reduce dryer -->
    <mat-slider thumbLabel [displayWith]="formatLabel" 
        tickInterval="1" min="0" [max]="maxCD" thumbLabel
        (change)="reduceElectricity($event)"  (change)="reduceHours($event)">
    </mat-slider>
   
    </div>

  </mat-tab>

  <mat-tab label="Replenish">
      <div class="margin-10">
    <h2>Replenish</h2>
<h4>Incase you find it difficult to reduce your electricity consumption, an alternative is to continue consuming at the same level but plant trees instead to offset your C02 emissions.</h4>
<h3>1 tonne of CO2 emitted can be replenished by 5 trees</h3>
<h4>Airconditioner</h4>
<p>Your total CO2 emissions for your airconditioner = {{ co2Total }}</p>
<p>Number of trees {{ co2Trees }}</p>
</div>


  </mat-tab>

</mat-tab-group>





