<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sideMenu> 
    <mat-toolbar color="primary"> </mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let l of labels" (click)="showItem(l)">
        {{ l }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary" 
        fxLayout="row column" fxLayoutAlign="space-between center">
      <div fxLayoutAlign="start center">
        <!-- event binding -->
        <mat-icon style="margin-right: 10px;" (click)="toggleSideMenu()">
          menu
        </mat-icon>
        <span></span>
      </div>
      <img src="assets/lightbulb.png" id="csia-logo">
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>